<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Add User</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
        <link rel="stylesheet" href="../css/shards.min.css">
    </head>
    <body>
        <div class="container my-5">
            <h2 class="mb-5">New User</h2>
            <div class="row">
                <div class="col-md-6">
                    <form th:object="${account}" method="post" th:action="@{/create}" >
                        <div class="row">
                            <div class="form-group blu-margin">
                                <label for="userId" class="col-form-label">UserId</label>
                                <input th:field="*{userId}" type="text" class="form-control" id="userId" placeholder="user id">
                                <span th:if="${#fields.hasErrors('userId')}">
                                    <ul class="alert alert-danger">
                                        <li th:each="err : ${#fields.errors('userId')}" th:text="${err}"></li>
                                    </ul>
                                </span>
                            </div>

                            <div class="form-group blu-margin">
                                <label for="balance" class="col-form-label">Balance</label>
                                <input th:field="*{balance}" type="text" class="form-control" id="balance" placeholder="balance">
                                <span th:if="${#fields.hasErrors('balance')}">
                                    <ul class="alert alert-danger">
                                        <li th:each="err : ${#fields.errors('balance')}" th:text="${err}"></li>
                                    </ul>
                                </span>
                            </div>

                            <div class="form-group blu-margin">
                                <label for="dropOperator" class="col-form-label">Account Type</label>
                                <select class="form-control"  id="dropOperator" th:field="*{accountType}">
                                    <option th:text="select" th:value="''"></option>
                                    <option th:each="type : ${accountTypes}" th:value="${type.name()}" th:text="${type.name()}"></option>
                                </select>
                                <span th:if="${#fields.hasErrors('accountType')}">
                                    <ul class="alert alert-danger">
                                        <li th:each="err : ${#fields.errors('accountType')}" th:text="${err}"></li>
                                    </ul>
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mt-5">
                                <input type="submit" class="btn btn-primary" value="Add User">
                            </div>
                        </div>    
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>